.todo {
    display: flex;
    justify-content: center;
}
.todo span {
    margin: 2px;
    color: red;
}
.todoItem{
    width: 100%;
    height: 40px;
    text-align: center;
}
.todoItem input{
    width: 200px;
    height: 30px;
}
.todoItem button{
    width: 80px;
    height: 29px;
}